extends layout

block content
  h1 קוד מקור
  p לפניכם קטעי קוד מקור מתוך קבצי הפרוייקט.
  p.codeheader server_handle_request.py
  div
    script(src='https://gist.github.com/c0ee59e0f313d371b297.js')
  p.codeheader server_detect.py
  div
    script(src='https://gist.github.com/2c073fc7aa0ff204996f.js')
  p.codeheader image_utils.py
  div
    script(src='https://gist.github.com/ef87c856040c2289e5a9.js')
  p.codeheader color_detection.py
  div
    script(src='https://gist.github.com/9372229bff5262931403.js')
  p.codeheader api.php
  div
    script(src='https://gist.github.com/5eae3e60b7ad6b9ed9f5.js')
  p.codeheader client_send_request.py
  div
    script(src='https://gist.github.com/0af6bdf377cb10a98a3d.js')
  p.codeheader arduino_sketch.ino
  div
    script(src='https://gist.github.com/4058d5f8a8f024c6ee63.js')
