extends layout

block content
  h1 #{title}
  div.frontpage-container
    h2#project-info פרוייקט גמר שנתי - האינטרנט של הדברים
    h3 מנחה אקדמי: דר' דן פלדמן
    h3 מנחת פרוייקט: דר' ענת אהרוני
    h4#university החוג למדעי המחשב, אוניברסיטת חיפה
    h4#authors מגישים:
    h4 גלעד לשם
    h4 רון הנדלר
