extends layout

block content
  h1 #{title}
  p ברוכים הבאים לפרוייקט.
  p לפניכם קטע וידאו המדגים את הפח החכם:
  div.youtubewrapper
    iframe.youtube(width="560" height="315" src="https://www.youtube.com/embed/oAFbGss1xJ0?rel=0&wmode=transparent" frameborder="0" allowfullscreen)
