@import "compass/css3";

$navbarheight: 50px;

body {
  direction: rtl;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #222;
  background-color: #f4f4f4;
}

a {
  color: #00B7FF;
}

h1 {
  @include text-shadow(rgba(black, 0.5) 1px 1px 8px);
  margin-bottom: 3rem;
}

.navbar {
  @include box-shadow(rgba(navy, 0.3) 0 0 25px);
}

.wrapper {
  position: fixed;
  top: $navbarheight;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 0px;
  padding-bottom: $navbarheight;
  margin: 0px;
  overflow-y: auto;
  overflow-x: hidden;
}

.youtubewrapper {
  @include box-shadow(rgba(navy, 0.5) 0 0 35px);
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px; height: 0; overflow: hidden;
}
.youtubewrapper .youtube,
.youtubewrapper object,
.youtubewrapper embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.codeheader {
  direction: ltr;
  margin-top: 10rem;
  font-weight: bold;
  //font-size: 1.5rem;
}
.frontpage-container {
  text-align: center;
  margin-top: 10rem;
}
#project-info {
  margin-bottom: 5rem;
}
#university {
  margin-top: 5rem;
}
#authors {
  margin-top: 5rem;
}
